.movie_list__title {
    font-size: 1.5rem;
    font-weight: bold; 
    margin-bottom: 0.5rem;
}

.movie_list__type {
    background: $gradient;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    font-size: 0.8rem;
    color: white;
    margin-bottom: 1rem;
}

.movie_list__picture {
    width: 150px;
    img {
        width: 100%;
    }
}

.movie__picture {
    height: calc(100vh - (#{$header-size} + #{$footer-size} + 6rem));
    max-width: max-content !important;
    img {
        height: 100%;
    }
}

.movie__description {
    border-left: 4px solid $secondary;
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
}