# Node and Yarn
/node_modules
npm-debug.log
yarn-error.log

# Public
/public/hot
/public/css
/public/storage

# Storage
/storage/*.key

# Vendors
/vendor

# Environments
.env

# Unit tests
.phpunit.result.cache

# Homestead
Homestead.json
Homestead.yaml

