// Components
$body-bg: #fefefe;
$header-size: 55px;
$footer-size: 0px;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #cb2d3e;
$secondary: #ef473a;
$light-grey: #eeeeee;
$grey: #BBBBBB;
$deep-grey: #999999;
$light-black: #333333;
$black: #111111;
$deep-black: #000000;

$gradient: linear-gradient(to left, $secondary, $primary); 
